@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Playfair+Display&display=swap");

html[data-theme="light"] {
  --ls-font-family: "Playfair Display";
  --ls-secondary-font-family: "Lato";
  --ls-link-text-color: rgb(45, 40, 40);
  --ls-primary-text-color: rgb(45, 40, 40);
  --ls-link-ref-text-color: rgb(45, 40, 40);
}

.keyboard-shortcut > code,
.text-sm {
  font-family: var(--ls-secondary-font-family);
}

.page-ref {
  text-decoration: underline;
  color: var(--ls-primary-text-color);
}

.ls-block h2 {
  font-size: 1rem !important;
  min-height: 1rem !important;
  border-bottom: 1px solid var(--ls-primary-text-color) !important;

  > span {
    background-color: var(--ls-primary-text-color);
    border-radius: 0;
    padding: 2px 8px;
    color: white;
    .page-ref {
      color: white;
    }
    .bracket {
      opacity: 1;
    }
  }
}
