@import url('http://fonts.cdnfonts.com/css/ia-writer-duospace');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


html[data-theme="light"] {
  --ls-font-family: 'iA Writer Duospace', sans-serif;
  --ls-title-font-family: 'Cormorant Garamond', serif;
  --ls-link-text-color: rgb(45, 40, 40);
  --ls-primary-text-color: rgb(45, 40, 40);
  --ls-link-ref-text-color: rgb(45, 40, 40);
}

body {
  font-size: 14px;
}

.keyboard-shortcut > code,
.text-sm {
  font-family: var(--ls-font-family);
}

.page-ref {
  color: var(--ls-primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ls-title-font-family);
  font-weight: 400px;
}

h1.title {
  font-size: 3rem;
}

.ls-block h2 {
  border-bottom: 1px solid var(--ls-primary-text-color) !important;
  font-family: var(--ls-title-font-family);
  text-align: right;
  font-size: 2rem;
  .page-ref {
    text-decoration: none;
  }
}

// Hide extra reccurence text on Scheduled And Deadline stuff
.references-blocks {
  .drawer[data-drawer-name="logbook"] {
    display: none;
  }
}
